<header class="header columns">
    <h1 class="title column col-3 col-md-12">
        <a href="{{ site.baseurl }}">
            <img src="https://www.gongfucha.fr/assets/sceau-the.svg" alt="logo boutique" class="logo">
        </a>
    </h1>
    <nav class="column col-7 col-md-9 col-sm-12">
        <ul>
            <li><a href="{{ site.baseurl }}">boutique</a></li>
            <li><a href="https://www.gongfucha.fr/pages/faq-boutique" target="blank">à propos</a></li>
            <li>
                <a href="{{ site.baseurl }}">
                    <span class="badge" data-badge="0" data-initial="YZ">panier</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="i18n columns col-gapless column">
        <div class="currency column col-6">
            <button class="btn btn-sm bg-secondary" value="EUR">€</button>
	        <button class="btn btn-sm " value="USD">$</button>
        </div>
        <div class="language column col-6">
            <button class="btn btn-sm bg-secondary" value="fr">FR</button>
	        <button class="btn btn-sm " value="en">EN</button>
        </div>
    </div>
</header>